{
  "env": {
    "browser": true,
    "es2021": true,
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": "off"
  },
}
