.description-section {
  width: 90%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  margin-top: 15px;
}

.description-section.mount {
  transform: translate(0, 15px);
  opacity: 0;
  visibility: hidden;
}

.description-box {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: rgb(4 4 161 / 10%) 0px 6px 12px 0px;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-box p {
  margin: 0px;
}

.description-box p img {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  line-height: 20px;
}

.statistics {
  width: 100%;
}

.graph {
  font-weight: 500;
  float: none;
  display: flex;
  height: 40px;
  width: 100%;
  line-height: 40px;
  border-radius: 40px;
  background: #ccc;
}

.graph span {
  border-radius: 40px;
  padding-left: 20px;
  overflow: hidden;
  z-index: 2;
}