/* https://codepen.io/Rplus/pen/PWZYRM */

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin: -125px -125px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.loader-wrapper.reveal {
  opacity: 1;
  visibility: visible;
}

.cat {
  position: relative;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  background-color: var(--bg-color);
}
.cat::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.cat:active > * {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.cat__body,
.cat__tail,
.cat__head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93)
    infinite;
  animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
}
.cat__body::before,
.cat__tail::before,
.cat__head::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-image: url('https://user-images.githubusercontent.com/52230415/123520696-d9d25c00-d6ec-11eb-9f01-cc68f5de0139.png');
}

.cat__head::before {
  top: 0;
  right: 0;
  background-position: 100% 0%;
  transform-origin: 0% 100%;
  transform: rotate(80deg);
}

.cat__tail {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cat__tail::before {
  left: 0;
  bottom: 0;
  background-position: 0% 100%;
  transform-origin: 100% 0%;
  transform: rotate(-30deg);
}

.cat__body {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cat__body:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cat__body::before {
  right: 0;
  bottom: 0;
  background-position: 100% 100%;
  transform-origin: 0% 0%;
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}

@keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}
.box {
  position: fixed;
  bottom: 90px;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
